#banner{
    background-color: blue;
    background-image: url("../media/porto.jpg"); 
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom:200px;
}