$green-color: #5DE171;
$blue-color: #3631F4;
$twitter-color: #007bff;
body{
font-family: 'Cousine', monospace;
}
.current {
  color: green;
}


.jumbotron2 { 
  padding: 50px 0px; /* adds some padding to the left and right*/
  max-width: 100%; /* allows the jumbotron2 to adjust on smaller widths */
  background-position: center;
  background-size: cover;
}

.jumbotron2 h1{
  font-size: 3em;
  margin: 0 0 -10px 0;
}
.jumbotron2 h2{
  margin: 0;
  font-size: 1.5em
} 

.sponsor{
  width: 256px;
  margin: 10px;
}

footer .sponsor{
  width: 200px;
}

.center{text-align: center;}

nav ul {
    list-style-type: none;
}
nav li {
    line-height: 30px;
}
nav a {
    text-decoration: none;
}

.navbar .navbar-nav > .nav-item > .nav-link{
    color: $blue-color;
}

.navbar .navbar-nav > .nav-item.active > .nav-link {
    color: $green-color;
    font-weight: bold;
}

.navbar{
  padding-bottom: 0;
  padding-top: 0;
}

.page-content{
  text-align: left;
}

.page-content img{
  margin: 0 10px;
}

.navbar-logo{
  height:40px;
  margin:0;
}

a, a:visited{
  color: $blue-color;
}

.svg-twitter{
  fill: $twitter-color;
}